@import '../../../variable';

.mat-card {
  margin-bottom: $padding;

  .mat-card-content {
    line-height: 2;

    > span {
      margin-right: .3rem;

      span {
        background: darkgreen;
        padding: 0 .4rem .1rem;
        border-radius: .2rem;
        color: white;
      }
    }
  }
}
:host:last-child .mat-card {
  margin-bottom: 0;
}
